header {
  background: white;
  padding: 0;
  border-bottom: 2px solid #e72929;
}

a {
  text-decoration: none;
  color: #af1313;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #af1313;
  width: max-content;
  min-width: 100px;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background: #e72929;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a.logo {
  font-weight: bold;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}
